<!DOCTYPE root[<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1047" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-08-19T14:52:42" updateDate="2013-08-19T14:53:27" nodeName="Home UK" urlName="home-uk" path="-1,1047" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1045" nodeTypeAlias="Home" />
  <Home id="1048" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-08-19T14:52:47" updateDate="2013-08-19T14:52:49" nodeName="Home DK" urlName="home-dk" path="-1,1048" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1045" nodeTypeAlias="Home" />
</root>